/* MONTSERRAT FONTS */

@font-face {
	font-family: montserratBlack;
	src: url(../fonts/Montserrat/Montserrat-Black.ttf);
}

@font-face {
	font-family: montserratBold;
	src: url(../fonts/Montserrat/Montserrat-Bold.ttf);
}

@font-face {
	font-family: montserratSemiBold;
	src: url(../fonts/Montserrat/Montserrat-SemiBold.ttf);
}

@font-face {
	font-family: montserratExtraBold;
	src: url(../fonts/Montserrat/Montserrat-ExtraBold.ttf);
}

@font-face {
	font-family: montserratReg;
	src: url(../fonts/Montserrat/Montserrat-Regular.ttf);
}

/* PLAYFAIR FONTS */

@font-face {
	font-family: playfairReg;
	src: url(../fonts/Playfair/reg.ttf);
}

@font-face {
	font-family: playfairItalic;
	src: url(../fonts/Playfair/regi.ttf);
}

@font-face {
	font-family: playfairSemiBold;
	src: url(../fonts/Playfair/semibold.ttf);
}

@font-face {
	font-family: playfairBoldItalic;
	src: url(../fonts/Playfair/semiboldi.ttf);
}

@font-face {
	font-family: playfairBold;
	src: url(../fonts/Playfair/bold.ttf);
}

@font-face {
	font-family: playfairBoldItalic;
	src: url(../fonts/Playfair/boldi.ttf);
}

@font-face {
	font-family: playfairExtraBold;
	src: url(../fonts/Playfair/ebold.ttf);
}

@font-face {
	font-family: playfairExtraBoldItalic;
	src: url(../fonts/Playfair/eboldi.ttf);
}

@font-face {
	font-family: playfairBlack;
	src: url(../fonts/Playfair/black.ttf);
}

@font-face {
	font-family: playfairBlackItalic;
	src: url(../fonts/Playfair/blacki.ttf);
}

/* BEBAS FONT */

@font-face {
	font-family: bebas;
	src: url(../fonts/Bebas/reg.ttf);
}

/* TEXT ELEMENTS */

* {
	margin: 0;
	padding: 0;
}

a {
	text-decoration-line: none;
	text-decoration: none;
	text-decoration-color: none;
	text-decoration-style: none;
}

.active {
	text-decoration-line: overline;
}

/* NAVIGATION BAR */

nav {
	color: white;
	font-family: playfairItalic;
	padding-top: 1rem;
	text-align: center;
	animation-name: fadeInTop;
	animation-duration: 2s;
	animation-iteration-count: 1;
	text-align: center;
	color: white;
	z-index: 1;
}

nav a {
	padding: 3rem;
	font-size: 30px;
	color: white;
	transition: 1s;
}

nav a:hover {
	font-style: italic;
	text-decoration-line: overline;
}

.active {
	text-decoration-line: overline;
}

@keyframes fadeInTop {
	0% {
		transform: translateY(-60px);
	}

	100% {
		transform: translateY(0px);
	}
}

@media only screen and (min-width: 800px) and (max-width: 1350px) {
nav a {
	padding: 2rem;
	font-size: 25px;
}
}

@media only screen and (max-width: 1000px) {
nav {
	width: 100%;
	padding-bottom: 1rem;
}
nav a {
	padding: 2rem;
	font-size: 20px;
}
}
/* MAIN DIV */

.parentDIV {
	display: flex;
	flex-direction: column;
}

.containerDIV {
	display: flex;
	flex-direction: row;
	width: 100%;
	height: 100%;
}

.mainDIV {
	background: linear-gradient(#CFB4A1, #825D4B);
	color: #E3E3E3;
	width: 75%;
}

.mainDIV h1 {
	font-family: bebas;
	font-size: 200px;
	line-height: 0.8;
	margin-top: 20%;
}

.mainDIV h2 {
	font-family: playfairItalic;
	font-size: 65px;
	line-height: 0.8;
	color: white;
}

.sideDIV {
	display: flex;
	flex-direction: column;
	float: right;
	height: 100%;
	width: 550px;
}

@media only screen and (max-width: 1000px) {
.containerDIV {
	display: block;
	flex-direction: column;
}

.mainDIV {
	background: linear-gradient(#CFB4A1, #825D4B);
	color: #E3E3E3;
	width: 100%;
	padding-left: 0;
}

.mainDIV h1 {
	margin-left: 3rem;
	font-size: 150px;
}

.mainDIV h2 {
	margin-left: 3rem;
	font-size: 50px;
}

.sideDIV {
	width: auto;
	height: auto;
}
}

/* CONTACT DIV */

.contactDIV {
	padding-bottom: 3rem ;
	text-align: center;
	margin: -5rem 0 0 -5rem;
}

.contactDIV h1 {
	color: white;
}

.contactDIV h2 {
	color: #E3E3E3;
	margin-bottom: 2rem;
}

.contactDIV form {
	margin-bottom: 5rem;
}

.contactDIV input {
	border-radius: 50px;
	border: none;
	padding: 2rem;
	font-size: 2rem;
	margin: 0.5rem;
	width: 50%;
	font-family: montserratBold;
	color: #2F2520;
}

.contactDIV textarea {
	border-radius: 50px;
	padding: 2rem;
	font-size: 1.5rem;
	margin: 0.5rem;
	border: none;
	width: 50%;
	height: 10rem;
	font-family: playfairItalic;
	color: #2F2520;
}

.contactDIV button {
	border-radius: 50px;
	font-size: 1.5rem;
	margin: 0.5rem;
	border: none;
	width: 5rem;
	height: 5rem;
	font-family: playfairBoldItalic;
	color: #2F2520;
	transition: 0.5s;
}

.contactDIV button:hover {
	background-color: #2F2520;
	color: #CFB4A1;
}

/* SOCIALS DIV */

.socialsDIV {
	background-color: #E3E3E3;
	height: 50rem;
	text-align: center;
	padding-top: 2rem;
}

.socialsDIV2 {
	background-color: #2F2520;
	text-align: center;
	color: white;
	padding: 4rem 2rem 4rem 2rem;
}

.socialsDIV h1 {
	font-family: playfairItalic;
	color: #2F2520;
	font-size: 150px;
	line-height: 1;
	display: inline;
}

.socialsDIV h2 {
	font-family: bebas;
	color: #89644D;
	font-size: 100px;
	margin: 0;
	line-height: 1;
	display: inline;
}

.socialsDIV img {
	width: 50px;
	height: 50px;
	margin: 2rem 0 0 0 ;
	padding: 0.3rem;
	background:radial-gradient(white, #CFB4A1, #89644D, black);
	border-radius: 100%;
	transition: 0.5s;
}

.socialsDIV img:hover{
	animation-name: moveIMG;
	animation-duration: 3s;
}

.indivSocials {
	text-align: center;
	margin: 3rem 0 0 0;
}

.indivSocials a {
	text-align: center;
	
	font-size: 50px;
	font-family: playfairBoldItalic;
	background-color: white;
	color: #2F2520;
	border-radius: 50px;
	padding: 1rem 3rem 1rem 3rem;
	transition: 0.3s;
}

.indivSocials a:hover {
	background-color: #2F2520;
	color: white;
}

@keyframes moveIMG {
	100% {
		transform: rotateZ(360deg);
	}
}

pre {
	text-align: left;
	margin: 0.5rem;
	font-size: 15px;
}

#quickLinks {
	text-align: center;
	font-family: bebas;
	font-size: 100px;
}

/* QUOTE DIV */

.quoteDIV {
	background-color: #CFB4A1;
	text-align: center;
	padding: 3.3rem;
	width: auto;

}

.quoteDIV h1 {
	font-family: playfairItalic;
	color: #2F2520;
	font-size: 30px;
}

.quoteDIV h2 {
	font-family: bebas;
	color: #89644D;
	font-size: 40px;
	line-height: 2;
}

.quoteDIV h3 {
	font-family: playfairReg;
	color: white;
	font-size: 20px;
	line-height: 1;
}

.quoteDIV h3 a {
	font-family: playfairItalic;
	color: white;
	transition: 0.5s;
}

.quoteDIV h3 a:hover {
	color: #89644D;
}

@media only screen and (max-width: 1000px) {
.quoteDIV h1 {
	font-family: playfairItalic;
	color: #2F2520;
	font-size: 20px;
	animation-name: fade;
	animation-duration: 5s;
	animation-iteration-count: 1;
}

.quoteDIV h3 {
	font-size: 15px;
}

}

/* LOADER DIV */

.loaderDIV {
	width: 100%;
	height: 100%;
	background-color: #CFB4A1;
	position: absolute;
	top: 0;
	left: 0;
}

.book {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  width: 18.5rem;
  height: 12.5rem;
  perspective: 70rem;
}

.cover {
	background-color: #2F2520;
  transform: rotateY(0deg);
  width: 9.25rem;
  height: 12.5rem;
}

.page {
  top: 0.25rem;
  left: 0.25rem;
  background-color: #e9e6c4;
  transform: rotateY(0deg);
  width: 9rem;
  height: 12rem;
  text-align: right;
  font-size: 8px;
  color: #777;
  font-family: monospace;
}

.page::before, .page::after {
  display: block;
  border-top: 1px dashed rgba(0, 0, 0, 0.3);
  content: "";
  padding-bottom: 1rem;
}

.cover, .page {
  position: absolute;
  padding: 1rem;
  transform-origin: 100% 0;
  border-radius: 5px 0 0 5px;
  box-shadow: inset 3px 0px 20px rgba(0, 0, 0, 0.2),
    0px 0px 15px rgba(0, 0, 0, 0.1);
  box-sizing: border-box;
}

.cover.turn {
  animation: bookCover 3s forwards;
}

.page.turn {
  animation: bookOpen 3s forwards;
}

.page:nth-of-type(1) {
  animation-delay: 0.05s;
}

.page:nth-of-type(2) {
  animation-delay: 0.33s
}

.page:nth-of-type(3) {
  animation-delay: 0.66s;
}

.page:nth-of-type(4) {
  animation: bookOpen150deg 3s forwards;
  animation-delay: 0.99s;
}

.page:nth-of-type(5) {
  animation: bookOpen30deg 3s forwards;
  animation-delay: 1.2s;
}

.page:nth-of-type(6) {
  animation: bookOpen55deg 3s forwards;
  animation-delay: 1.25s;
}

@keyframes bookOpen {
	30% {
		z-index: 999
	}

  100% {
  	transform: rotateY(180deg);
    z-index: 999;
  }
}

@keyframes bookCover {
  30% {
  	z-index: 999
  }

  100% {
  	transform: rotateY(180deg);
    z-index: 1;
  }
}

@keyframes bookOpen150deg {
	30% {
		z-index: 999;
	}

  100% {
  	transform: rotateY(150deg);
    z-index: 999;
  }
}

@keyframes bookOpen55deg {
  30% {
  	z-index: 999
  }

  100% {
  	transform: rotateY(55deg);
    z-index: 999;
  }
}

@keyframes bookOpen30deg {
  50% {
  	z-index: 999 
  }

  100% {
  	transform: rotateY(30deg);
    z-index: 999;
  }
}
















